<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>인사현황</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>s
</head>
<body class="w3-light-grey">

<!-- Top container -->
<div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
  <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
  <span class="w3-bar-item w3-right"><a href="#">로그아웃</a></span> <!-- 링크 설정-->
</div>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container w3-row">
    
    <div class="w3-col s8 w3-bar">
      <span>안녕하세요, <strong><span th:text="${userName}"></span> 님</strong></span><br>
    </div>
  </div>
  <hr>
  <div class="w3-container">
    <h5>인사 관리 시스템</h5>
  </div>
  <div class="w3-bar-block">
    <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
    <a href="../attendance/attList" class="w3-bar-item w3-button w3-padding"><i class="fa fa-users fa-fw"></i> 근태관리</a>
    <a href="../employee/empList" class="w3-bar-item w3-button w3-padding"><i class="fa fa-eye fa-fw"></i>  직원관리</a>
    <a href="../department/dpList" class="w3-bar-item w3-button w3-padding"><i class="fa fa-users fa-fw"></i>  부서관리</a>
    <a href="../personnel/perList" class="w3-bar-item w3-button w3-padding w3-blue"><i class="fa fa-bullseye fa-fw"></i>  인사현황</a>
    <a href="../review/reviewList" class="w3-bar-item w3-button w3-padding"><i class="fa fa-diamond fa-fw"></i>  고과평가</a>
    <a href="../payment/paymentList" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bell fa-fw"></i>  급여관리</a>
    <a href="../retire/retireList" class="w3-bar-item w3-button w3-padding"><i class="fa fa-history fa-fw"></i>  퇴사자</a>
    <a href="../setting/settingList" class="w3-bar-item w3-button w3-padding"><i class="fa fa-cog fa-fw"></i>  설정</a><br><br>
  </div>
</nav>


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">


  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
    <h5><b> 인사현황</b></h5>
  </header>
  
  <div class="w3-row-padding w3-margin-bottom">
  <a href="perList">
    <div class="w3-quarter" style="margin-right: 5px">
      <div class="w3-container w3-red w3-padding-16">
        <div class="w3-left"><i class="fa fa-server w3-xxlarge"></i></div>
        <div class="w3-right">
          <h3></h3>
        </div>
        <div class="w3-clear"></div>
        <h4>인사현황</h4>
      </div>
    </div>
    </a>
    <a href="perWrite">
    <div class="w3-quarter">
      <div class="w3-container w3-blue w3-padding-16">
        <div class="w3-left"><i class="fa fa-pencil w3-xxlarge"></i></div>
        <div class="w3-right">
          <h3></h3>
        </div>
        <div class="w3-clear"></div>
        <h4>발령</h4>
      </div>
    </div>
    </a>
  </div>

<div class="w3-container">
    <h5>인사현황</h5>
    <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
   
    <form action="perList" method="get">
		<tr>
			<td colspan="7">
				<input type="search" name="searchWord" size=60 th:value="${searchWord}"/>
				<input type="submit" value="검색" />
			</td>
		</tr>
	</form>
      <tr><td>직원번호</td><td>현재부서</td><td>이동부서</td><td>이동직급</td>
      	  <td>승인일자</td><td>발령일자</td><td>발령상태</td></tr>
 		<tr th:each="dto : ${list}">
 			<td>[[${dto.empNum}]]</td>
 			<td>[[${dto.currdpName}]]</td>
 			<td>[[${dto.nextdpName}]]</td>
 			<td>[[${dto.nextPosition}]]</td>
 			<td>[[${dto.approvalDate}]]</td>
 			<td>[[${dto.appointmentDate}]]</td>
 			<td>[[${dto.appointmentState}]]</td>
 		</tr>
 		<tr>
		<th colspan="7" style="text-align: center;">
			<span th:if="${page <= 1}">[이전]</span>
			<span th:if="${page > 1}">
			<a th:href="|perList?page=${page - 1}&searchWord=${searchWord}|">[이전]</a>
			</span>
			<th:block th:each="i : ${#numbers.sequence(startPageNum, endPageNum)}">
				[<a th:href="|perList?page=${i}&searchWord=${searchWord}|">[[${i}]]</a>]
			</th:block>
			<span th:if="${page < maxPage}">
			<a th:href="@{perList?(page=${page + 1},searchWord=${searchWord})}">[다음]</a>
			</span>
			<span th:if="${page >= maxPage}">
			[다음]
			</span>			
		</th>
	</tr>
 	</table>
</div>
</body>
</html>