<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>직원검색</title>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
<script type="text/javascript">
$(function(){
	salaryList();
});
function salaryList(page){
	$.ajax({
		type : "post",
		url : "salarysList",
		data : {"searchWord" : $("#searchWord").val(), "page" : page},
		dataType : "json",
		success : function(result){
			var item = '';
			item += '<table>'; 
			item += '<tr><th>';
			item += '직원검색 : ';
			item +=	'<input type="search" name="searchWord" id="searchWord" value="'+result.searchWord+'" />';
			item += '<button onclick="salaryList(' + result.page +')">검색</button>';
			item += '</th></tr>';
			item += '</table>';
			item +=	'<table border=1 width="600" align="center">';
			item +=	'	<tr>';
			item +=	'		<th>번호</th><th>직원번호</th><th>급여</th><th>계좌</th>';
			item +=	'	</tr>';
			$.each(result.list , function(idx, dto) {
				item +=	'	<tr> '; 
				item +=	'		<th>'+ (idx + 1)+' </th>';
				item +='         <th><a href="javascript:salarys(\'' + dto.empNum +'\'';
				item +='		      , \''+ dto.empSalary + '\', \''+ dto.account + '\')">'+ dto.empNum +'</a></th>' ;
				item +='         <th><a href="javascript:salarys(\'' + dto.empNum +'\'';
				item +='		      , \''+ dto.empSalary + '\', \''+ dto.account + '\')">'+ dto.empSalary +'</a></th>' ;
				item +='         <th><a href="javascript:salarys(\'' + dto.empNum +'\'';
				item +='		      , \''+ dto.empSalary + '\', \''+ dto.account + '\')">'+ dto.account +'</a></th>'; 
				item += '	</tr>';
				
			});

			item +=	'<tr align="center"><td colspan="6">';
			if(result.page <= 1){
				item +=	'[이전]';
			}
			else{
				item +=	'<a href="javascript:salaryList('+ (result.page - 1) + ')">[이전]</a>';
			}					
			var startPage = result.startPage; 
			var endPage = result.endPage; 
			while (startPage <= endPage){
				item +=	'<a href="javascript:salaryList('+ startPage + ')">['+startPage+']</a> ';
				startPage++;
			}
			if(result.page >= result.maxPage){
				item +=	'[다음]';
			}
			if(result.page < result.maxPage){
				item +=	'<a href="javascript:salaryList('+ (result.page + 1) + ')">[다음]</a>';
			}
			item +=	'</td></tr>';
			item +=	'</table>';

			$("#SalsList").html(item);
		},
		error : function(){
			alert("서버오류");
		}
	});
}
function salarys(empNum, empSalary, account){
	$(opener.document).find("#empNum").val(empNum);
	$(opener.document).find("#empSalary").val(empSalary);
	$(opener.document).find("#account").val(account);
	window.self.close();
}
</script>

</head>
<body>
직원검색<br />
<span id="SalsList"></span>
</body>
</html>