<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 	
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Mini_PM_System.mapper.SalaryMapper">
<update id="salaryMerge" parameterType="salary">
	merge into salary s 
	using (select emp_num from employees where emp_num = #{empNum}) e
	on (s.emp_num = e.emp_num)
	when matched then
	update set emp_salary = #{empSalary}, account = #{account}
	when not matched then
	insert(emp_salary, emp_num, account)
	values(#{empSalary}, #{empNum}, #{account})
</update>
<select id="salarySelectList" resultType="salary">
	select emp_salary, emp_num, account from salary
	<where>
		<if test="searchWord != null">
			emp_num like '%' || #{searchWord} || '%'
			account like '%' || #{searchWord} || '%'
		</if>
	</where>
</select>
<select id="salaryCount" resultType="integer">
	select count(*) from salary
	<where>
		<if test="searchWord != null">
			emp_num like '%' || #{searchWord} || '%'
			or account like '%' || #{searchWord} || '%'
		</if>
	</where>
</select>
</mapper>